.wrapper-page{
    margin-right: auto;
    margin-left:  auto;
}
/* Barre de navigation */
.nav-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    min-height: 60px;
    background-color: olive;
}

    .nav-bar-element{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        font-weight: 400;
    }
    .nav-bar-element.active{
        color: #0065FC;
    }

    .nav-bar-element.active::before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        width: 100%;
        background-color: #0065FC;
    }

    .nav-bar-element:nth-child(1){
        flex: 1;
        background-color: palevioletred;
    }

    .nav-bar-element:nth-child(2){
        font-weight: bold;
        background-color: brown;
    }
    .nav-bar-element:nth-child(3){
        font-weight: normal;
        background-color: aqua;
    }
    .nav-bar-element:nth-child(4){
        font-weight: bold;
        background-color: coral;
        color: #0065FC;
    }

    .nav-link{
        padding: 3rem 2rem 1.5rem 2rem;
    }

/* Section titre et recherche */
section.search{
    margin: 1rem;
}
section.search p{
    margin: 0.5rem 0 0 0;
}
section.search h1{
    margin: 2rem 0 0 0;
}

/* Barre de recherche  */
.search-bar{
    position: relative;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 420px;
    height: 50px;
}
.border-search-bar{
    position: absolute;
    width: 80%;
    height: 48px;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    border: #F2F2F2 solid 1px;
}
.icon-location{
    position: relative;
    width: 55px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}
.button-go{
    position: relative;
    width: 55px;
    height: 50px;
    background-color: #0065FC;
    border-radius: 15px;
}
.icon-position{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
input[type=text]{
    flex: 1;
    font-size: 1.1rem;
    padding: 0 0 0 20px;
    border-color: transparent;
}
input::placeholder{
    font-weight: 700;
    color: black;
}
.fa-search{
    color: #fff;
}

/* Filtres de recherche */

section.search .filters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1rem 0;
}
section.search .filters .btn-filter{
    z-index: -2;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
    margin: 0 1rem 1rem 0;
    border-radius: 50px;
    border: 2px solid #D9D9D9;
    font-size: 0.9rem;
}
section.search .filters .btn-filter:nth-child(1){
    border-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    flex: 0 1 100%;
    margin: 0 1rem 0 0;
}
section.search .filters .btn-filter:nth-child(3){
    margin: 0;
}

section.search .filters .btn-filter .icon{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.search .filters .btn-filter .icon::before{
    z-index: -1;
    position: absolute;
    top: -2px;
    left: -2px;
    content: "";
    width: 54px;
    height: 54px;
    background-color: #DEEBFF;
    border-radius: 50px;
}

section.search .filters .btn-filter .btn-content{
    padding: 0 0.8rem;
    font-weight: bold;
    align-items: center;
    margin-top: -8px;
}


/* Disponibilité */
section.search .disponibility{
    display: flex;
    padding: 0 0 1rem 0;
}
section.search .disponibility .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    color: #0065FC;
}
section.search .disponibility .text{
    flex: 1;
    font-size: 0.9rem;
    padding:  0.3rem 0 0 0.6rem;
}

/* Les hôtels*/
section.hotels{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Les hôtels populaires*/
section.hotels .most-popular{
    flex-basis: 100%;
    height: auto;
    background-color: #F2F2F2;
    padding: 1rem;
}
section.hotels .most-popular >.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    margin: 1.5rem 0 2rem;
}
section.hotels .most-popular .hotels-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 0 1rem 0;
}
section.hotels .most-popular .hotels-list .hotel-card{
    flex-basis: 100%;
    height: 145px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0.4rem 0;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
}
section.hotels .most-popular .hotels-list .hotel-card > img{
    width: 50%;
    border-radius: 15px 0 0 15px;
    margin: 5px;
    object-fit: cover;
    overflow: hidden;
}
section.hotels .most-popular .hotels-list .hotel-card .description{
    width: 50%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
section.hotels .most-popular .hotels-list .hotel-card .description .offer{
    flex-grow: 1;
    margin: 0.5rem 0;
    font-size: 0.9rem;
}
section.hotels .most-popular .hotels-list .hotel-card .description .rating .fa-star{
    color: #0065FC;
}
section.hotels .most-popular .hotels-list .hotel-card:nth-child(2) .description .rating .fa-star:nth-child(5){
    color: #D9D9D9;
}
section.hotels .most-popular .hotels-list .hotel-card:nth-child(3) .description .rating .fa-star:nth-child(5){
    color: #D9D9D9;
}



/* Hotels localisé */

section.hotels .local-hotels{
    flex-basis: 100%;
    height: auto;
    padding: 1rem;
}
section.hotels .local-hotels >.title{
    margin: 1.5rem 0 2rem;
}
section.hotels .local-hotels .hotels-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 0 1rem 0;
}
section.hotels .local-hotels .hotels-list .hotel-card{
    flex-basis: 100%;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0.4rem 0;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
section.hotels .local-hotels .hotels-list .hotel-card img.thumbnail{
    width: 100%;
    height: 115px;
    border-radius: 15px 15px 0 0;
    margin: 5px;
    background-size: 100% auto;
    object-fit: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: 100% 70%;
}
section.hotels .local-hotels .hotels-list .hotel-card .description{
    width: 100%;
    margin: 5px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
section.hotels .local-hotels .hotels-list .hotel-card .description .offer{
    flex-grow: 1;
    margin: 0.3rem 0;
    font-size: 0.9rem;
}
section.hotels .local-hotels .hotels-list .hotel-card .description .rating{
    flex-grow: 1;
    margin: 0 0 0.5rem 0;
    font-size: 0.9rem;
}
section.hotels .local-hotels .hotels-list .hotel-card .description .rating .fa-star{
    color: #0065FC;
}
section.hotels .local-hotels .hotels-list .hotel-card:nth-child(1) .description .rating .fa-star:nth-child(5){
    color: #D9D9D9;
}
section.hotels .local-hotels .hotels-list .hotel-card:nth-child(3) .description .rating .fa-star:nth-child(5){
    color: #D9D9D9;
}
section.hotels .local-hotels .hotels-list .hotel-card:nth-child(4) .description .rating .fa-star:nth-child(4){
    color: #D9D9D9;
}
section.hotels .local-hotels .hotels-list .hotel-card:nth-child(4) .description .rating .fa-star:nth-child(5){
    color: #D9D9D9;
}
section.hotels .local-hotels .hotels-list .hotel-card:nth-child(5) .description .rating .fa-star:nth-child(5){
    color: #D9D9D9;
}
section.hotels .local-hotels .view-more{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0.5rem;
}

/* Activités */
article{
    padding: 1.5rem;
}
article >.title{
    margin: 0 0 2rem;
}
article .activities-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
article .activities-list .flex-activity-card{
    padding: 0 0 1.5rem 0;
}
article .activities-list .flex-activity-card .activity-card{
    border-radius: 25px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 190px;
    min-height: 190px;
}
article .activities-list .flex-activity-card .activity-card .thumbnail{
    flex-grow: 1;
    margin: 0;
    width: 100%;
    max-height: 130px;
}
article .activities-list .flex-activity-card .activity-card .thumbnail img.thumbnail{
    width: 100%;
    max-height: 130px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}
article .activities-list .flex-activity-card .activity-card .title{
    flex-basis: 30%;
    margin: 0 1.5rem;
}
article .activities-list .flex-activity-card .activity-card .title h4{
}

/* Footer */
footer{
    background-color: #F2F2F2;
    width: 100%;
    height: auto;
    padding: 2rem 0rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 0.8rem;
}
footer .footer-columns{
    margin: 0 2rem;
    flex: 1;
}
footer .footer-columns ul{
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;
}
footer .footer-columns ul li{
    padding: 0 0 0.5rem 0;
}
footer .footer-columns ul li a{
    text-decoration: none;
    color: inherit;
}


@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* smartphone en mode portait A REFAIRE !!!*/
    .nav-bar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: stretch;
        min-height: 40px;
        background-color: olive;
    }

    .nav-bar-element.active::before{
        content: "";
        background-color: transparent;
    }

    .nav-bar-element.active::after{
        content: "";
        position: absolute;
        bottom: -3px;
        right: 0;
        width: 100%;
        height: 3px;
        background-color: #0065FC;
    }

    .nav-bar-element:nth-child(1){
        flex: 1;
        background-color: palevioletred;
        order: 1;
    }
    .nav-bar-element:nth-child(2){
        font-weight: normal;
        background-color: brown;
        flex: 1;
        order: 3;
        border-bottom: 3px solid rgba(255,255,255,0.5);
    }
    .nav-bar-element:nth-child(3){
        font-weight: normal;
        background-color: aqua;
        flex: 1;
        order: 4;
        border-bottom: 3px solid rgba(0,0,0,0.2);
    }
    .nav-bar-element:nth-child(4){
        font-weight: bold;
        background-color: coral;
        order: 2;
    }
    .nav-bar-element:first-child .nav-link{
        padding: 2rem 2rem 0.8rem 0;
        margin: 0 0 0 1rem;

    }
    .nav-bar-element .nav-link{
        padding: 2rem 2rem 0.8rem 2rem;
        margin: auto;
    }

}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1280px) {
    /* Filtres */
    section.search .filters{
        margin: 2rem 0 1rem 0;
    }
    section.search .filters .btn-filter{
        margin: 0 1rem 1rem 1rem;
        font-size: 1rem;
    }
    section.search .filters .btn-filter:nth-child(1){
        flex: 0;
        margin: 0 0 0 0;
    }
    section.search .filters .btn-filter:nth-child(3){
        margin: 0 1rem 1rem 1rem;
    }
    section.search .filters .btn-filter .btn-content{
        padding: 0 1rem;
    }

    /* Hôtels */
    section.hotels{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    }

    /* Hôtels populaires */
    section.hotels .most-popular{
        flex-basis: 30%;
        height: auto;
        background-color: #F2F2F2;
        margin: 0 1rem;
        border-radius: 20px;
        padding: 1rem 3rem;
    }
    section.hotels .most-popular >.title{
        margin: 1.5rem 0 1rem 0;
    }
    section.hotels .most-popular .hotels-list .hotel-card{
        margin: 1rem 0;
    }
    section.hotels .most-popular .hotels-list .hotel-card > img{

    }
    section.hotels .most-popular .hotels-list .hotel-card .description{
        width: 60%;
        margin: 1rem 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section.hotels .most-popular .hotels-list .hotel-card .description .offer{
        flex-grow: 1;
        margin: 0.5rem 0;
        font-size: 0.9rem;
    }

    /* Hôtels locaux */
    section.hotels .local-hotels{
        flex-basis: 70%;
        height: auto;
        background-color: #F2F2F2;
        margin: 0 1rem 0 1rem;
        padding: 1rem 2.5rem;
        border-radius: 20px;
    }
    section.hotels .local-hotels >.title{
        margin: 1.5rem 0 2rem 1rem;
    }
    section.hotels .local-hotels .hotels-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -0.5rem;
    }
    section.hotels .local-hotels .hotels-list .flex-hotel-card{
        flex-basis: 33.33333%;
    }
    section.hotels .local-hotels .hotels-list:nth-child(1){
        background-color: cadetblue;
    }
    section.hotels .local-hotels .hotels-list .flex-hotel-card .hotel-card{
        margin: 0 1rem 2rem 1rem;
        height: 200px;
        border-radius: 20px;
        box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    section.hotels .local-hotels .hotels-list .hotel-card .thumbnail{
        width: 100%;
        height: 115px;
        border-radius: 15px 15px 0 0;
        margin: 5px;
        background-size: 100% auto;
        object-fit: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        background-position: 100% 70%;
    }
    section.hotels .local-hotels .hotels-list .hotel-card .description{
        width: 100%;
        margin: 5px 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section.hotels .local-hotels .view-more{
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0 0 0 1rem;
    }

    /* Activités */
    article{
        padding: 3rem 1.5rem 1.5rem 1.5rem;
    }
    article >.title{
        margin: 0 0 2rem;
    }
    article .activities-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    article .activities-list .flex-activity-card{
        flex-basis: calc(25%);
    }
    article .activities-list .flex-activity-card:nth-child(1){

    }
    article .activities-list .flex-activity-card .activity-card{
        height: 190px;
        border-radius: 25px;
        box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 2rem 1rem 0;
    }


}

@media only screen and (max-width: 374px) {
    /* smartphone 320 à 375*/

    section.search .filters .btn-filter:nth-child(3){
        margin: 0 1rem 1rem 0;
    }
    section.hotels .most-popular .hotels-list .hotel-card > img{
    }
    section.hotels .most-popular .hotels-list .hotel-card .description >.title h3{
        font-size: 0.9rem;
    }
    section.hotels .most-popular .hotels-list .hotel-card .description .offer{
        font-size: 0.9rem;
        margin: 0.5rem 0 0 0;
    }
}



@media only screen and (max-width: 767px) {
    /* smartphone */
}



