.wrapper-page{
    margin-right: auto;
    margin-left:  auto;
}

/* Header et Navbar */

header{
    width: 100%;
    height: auto;
}

header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
header nav ul li.nav-logo{
    margin: 1rem 0 0 1rem;
}
header nav ul li.nav-sign-in{
    margin: 1rem 1rem 0 0;
    font-weight: bold;
    color: #0065FC;
    text-align: right;
}
header nav ul li:nth-child(-n+2){
    flex-basis: calc(50% - 1rem);
}

header nav ul li:nth-last-of-type(-n+2){
    padding: 1.5rem 0 1rem 0;
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid #D9D9D9;
}
header nav ul li.active{
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
}


/* Section titre et recherche */
section.search{
    margin: 1rem;
}
section.search p{
    margin: 0.5rem 0 0 0;
}
section.search h1{
    margin: 2rem 0 0 0;
}

/* Barre de recherche  */
.search-bar{
    position: relative;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 420px;
    height: 50px;
    padding: 0.5rem 0;
}

.border-search-bar{
    z-index: -1;
    position: absolute;
    width: 80%;
    height: 48px;
    top: 0.5rem;
    left: 50%;
    transform: translate(-50%,0);
    border: #F2F2F2 solid 1px;
}
.icon-location{
    position: relative;
    width: 55px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}
.button-go{
    position: relative;
    width: 70px;
    height: 50px;
    background-color: #0065FC;
    border-radius: 15px;
}
.icon-position{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
input[type=text]{
    flex: 1;
    font-size: 1.1rem;
    padding: 0 0 0 20px;
    border-color: transparent;
    background-color: transparent;
}
input::placeholder{
    font-weight: 700;
    color: black;
}
.fa-search{
    color: #fff;
}

/* Filtres de recherche */

section.search section.filters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1rem 0;
}
section.search section.filters .btn-filter{
    z-index: -2;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    height: 45px;
    margin: 0 1rem 1rem 0;
    border-radius: 50px;
    border: 2px solid #D9D9D9;
    font-size: 0.9rem;
}
section.search section.filters .btn-filter:nth-child(1){
    border-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    flex: 0 1 100%;
    margin: 0 1rem 1rem 0;
}
section.search section.filters .btn-filter:nth-child(3){
    margin: 0 0 1rem 0;
}

section.search section.filters .btn-filter .icon{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.search section.filters .btn-filter .icon::before{
    z-index: -1;
    position: absolute;
    top: -2px;
    left: -2px;
    content: "";
    width: 49px;
    height: 49px;
    background-color: #DEEBFF;
    border-radius: 45px;
}

section.search section.filters .btn-filter .btn-content{
    padding: 0 0.5rem;
    font-weight: bold;
    align-items: center;
    margin-top: -8px;
}


/* Disponibilité */
section.search .disponibility{
    display: flex;
    padding: 0 0 1rem 0;
}
section.search .disponibility .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    color: #0065FC;
}
section.search .disponibility .text{
    flex: 1;
    font-size: 0.8rem;
    padding:  0 0 0 0.6rem;
}

/*!* Les hôtels*/

section.hotels{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
section.hotels section.popular{
    flex-basis: 100%;
    height: auto;
    background-color: #F2F2F2;
    padding: 2rem 1rem;
}
section.hotels section.popular > h2 i{
    float: right;
    line-height: 1.5rem;
}
section.hotels section.popular section.hotels-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 0 0 0;
}
section.hotels section.popular section.hotels-list article.hotel-card{
    flex-basis: 100%;
    height: 145px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0.4rem 0;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
}
section.hotels section.popular section.hotels-list article.hotel-card figure {
    flex-basis: 50%;
    height: 100%;
}
section.hotels section.popular section.hotels-list article.hotel-card figure img{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    overflow: hidden;
}
section.hotels section.popular section.hotels-list article.hotel-card .description{
    width: 50%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
section.hotels section.popular section.hotels-list article.hotel-card .description >.title h3{
    font-size: 0.9rem;
}
section.hotels section.popular section.hotels-list article.hotel-card .description .offer{
    flex-grow: 1;
    font-size: 0.9rem;
    margin: 0.5rem 0 0 0;
}
section.hotels section.popular section.hotels-list article.hotel-card .description .rating .fa-star{
    color: #0065FC;
}
section.hotels section.popular section.hotels-list article.hotel-card:nth-child(2) .description .rating .fa-star:nth-child(5){
    color: #D9D9D9;
}
section.hotels section.popular section.hotels-list article.hotel-card:nth-child(3) .description .rating .fa-star:nth-child(5){
    color: #D9D9D9;
}

/* Hotels localisé */
section.hotels section.local{
    flex-basis: 100%;
    height: auto;
    padding: 2rem 1rem;
}
section.hotels section.local section.hotels-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 0 0 0;
}
section.hotels section.local section.hotels-list article.hotel-card{
    flex-basis: 100%;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0.4rem 0;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
section.hotels section.local section.hotels-list article.hotel-card figure{
    flex-basis: 100%;
    height: 125px;

}
section.hotels section.local section.hotels-list article.hotel-card figure img{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    overflow: hidden;
}
section.hotels section.local section.hotels-list article.hotel-card figure figcaption{
    margin: 0 15px;
}
section.hotels section.local section.hotels-list article.hotel-card .description{
    width: 100%;
    margin: 1.7rem 1rem 0.5rem 1rem;
}
section.hotels section.local section.hotels-list .description .offer{
    flex-grow: 1;
    font-size: 0.9rem;
    margin: 0 0 1rem 0;
}
section.hotels section.local section.hotels-list .description .rating{
    flex-grow: 1;
    font-size: 0.9rem;
    padding-top: 0.25rem;
}
section.hotels section.local section.hotels-list article.hotel-card .description .rating .fa-star{
    color: #0065FC;
}
section.hotels section.local section.hotels-list article.hotel-card:nth-child(1) .description .rating .fa-star:nth-child(5){
    color: #D9D9D9;
}
section.hotels section.local section.hotels-list article.hotel-card:nth-child(3) .description .rating .fa-star:nth-child(5){
    color: #D9D9D9;
}
section.hotels section.local section.hotels-list article.hotel-card:nth-child(4) .description .rating .fa-star:nth-child(4){
    color: #D9D9D9;
}
section.hotels section.local section.hotels-list article.hotel-card:nth-child(4) .description .rating .fa-star:nth-child(5){
    color: #D9D9D9;
}
section.hotels section.local section.hotels-list article.hotel-card:nth-child(5) .description .rating .fa-star:nth-child(5){
    color: #D9D9D9;
}
section.hotels section.local .view-more{
    font-weight: bold;
    font-size: 1.2rem;
    padding: 2rem 1rem 0 1rem;
}

/* Activités */
aside.activities{
    padding: 1rem;

}
aside.activities > h2{
    padding: 0 0 2rem 0;
}
aside.activities section.activities-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
aside.activities section.activities-content section.activities-col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
aside.activities section.activities-content section.activities-col article.activity{
    flex-basis: 100%;
    height: 190px;
    border-radius: 25px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
aside.activities section.activities-content section.activities-col article.activity figure{
    width: 100% ;
    height: 70%;
}
aside.activities section.activities-content section.activities-col article.activity figure img{
    width: 100% ;
    height: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    overflow: hidden;
}
aside.activities section.activities-content section.activities-col article.activity figure figcaption{
    margin: 1rem;
}


/* Footer */
footer{
    background-color: #F2F2F2;
    width: 100%;
    height: auto;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1rem;
}
footer .footer-columns{
    margin: 0 2rem;
    flex: 1;
}
footer .footer-columns ul{
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;

}
footer .footer-columns ul li{
    padding: 0 0 0.5rem 0;
}
footer .footer-columns ul li > a{
    text-decoration: none;
    color: inherit;
}



/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1280px) {

    /* Header et Navbar */
    header nav ul li.nav-logo{
        flex-grow: 1;
    }
    header nav ul li.nav-sign-in{
        order: 4;
        margin: 0 0rem 0 0rem;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }
    header nav ul li:nth-child(-n+2){
        flex-basis: inherit;
    }
    header nav ul li:nth-last-of-type(-n+2){
        flex-basis: inherit;
        border-bottom: 3px solid transparent;
        border-top: 3px solid transparent;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }
    header nav ul li.active{
        border-bottom: 3px solid transparent;
        border-top: 3px solid #0065FC;
        color: #0065FC;
    }

    /* Barre de recherche  */
    .search-bar{
        max-width: 415px;
        height: 50px;
    }
    .button-go{
        position: relative;
        width: 110px;
        height: 50px;
        background-color: #0065FC;
        border-radius: 0 15px 15px 0;
    }
    .button-go::after{
        content: "Rechercher";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: #fff;
        font-weight: bold;
    }
    .button-go i{
        visibility: hidden;
    }

    /* Filtres de recherche */
    section.search section.filters .btn-filter{
        z-index: -2;
        align-items: baseline;
        margin: 0 2rem 1rem 0;
    }
    section.search section.filters .btn-filter:nth-child(1){
        flex-basis: inherit;
        margin: 0 2rem 1rem 0;
        line-height: 1.7rem;
    }
    section.search section.filters .btn-filter:nth-child(3){
        margin: 0 2rem 1rem 0;
    }
    section.search section.filters .btn-filter .btn-content{
        padding: 0 1.4rem;
    }


    /* Hôtels */
    section.hotels{
        flex-direction: row-reverse;
        padding: 1rem;
    }
    /* Hôtels Populaires*/
    section.hotels section.popular{
        flex-basis: calc(30%);
        border-radius: 25px;
        padding: 0;
    }
    section.hotels section.popular > h2{
        padding: 2rem 2rem 0 2rem;
    }
    section.hotels section.popular section.hotels-list{
        flex-direction: column;
        padding: 2rem 2rem 0 2rem;
    }

    /* Hôtels Locaux*/
    section.hotels section.local{
        flex-basis: calc(70% - 2rem);
        padding: 0;
        background-color: #F2F2F2;
        border-radius: 25px;
        margin-right: 2rem;
    }
    section.hotels section.local > h2{
        padding: 2rem 0 0 2rem;
    }
    section.hotels section.local section.hotels-list{
        flex-direction: row;
        padding: 2rem 1rem 0 1rem;
    }
    section.hotels section.local section.hotels-list article.hotel-card{
        flex-basis: calc(33.33333% - 2rem);
        margin: 0.5rem 1rem 1rem 1rem;
    }
    section.hotels section.local .view-more{
        font-weight: bold;
        font-size: 1.2rem;
        padding: 1rem 1rem 1.5rem 2rem;
    }

    /* Activités */
    aside.activities{
        padding: 2rem 1rem 1rem 1rem;
    }
    aside.activities > h2{
        padding: 0 0 2rem 0;
    }
    aside.activities section.activities-content{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 -1rem;
        height: 450px;
    }
    aside.activities section.activities-content section.activities-col{
        flex-basis: 25%;
        height: 100%;
    }
    aside.activities section.activities-content section.activities-col article.activity{
        margin: 0 1rem 0 1rem;
    }
    aside.activities section.activities-content section.activities-col.col-1 article.activity:nth-child(1){
        height: 100%;
    }
    aside.activities section.activities-content section.activities-col.col-2 article.activity:nth-child(1){
        height: calc(60% - 2rem);
        margin: 0 1rem 2rem 1rem;
    }
    aside.activities section.activities-content section.activities-col.col-2 article.activity:nth-child(2){
        height: 40%;
    }
    aside.activities section.activities-content section.activities-col.col-3 article.activity:nth-child(1){
        height: 100%;
    }
    aside.activities section.activities-content section.activities-col.col-4 article.activity:nth-child(1){
        height: calc(45% - 2rem);
        margin: 0 1rem 2rem 1rem;
    }
    aside.activities section.activities-content section.activities-col.col-4 article.activity:nth-child(2){
        height: 55%;
    }
    aside.activities section.activities-content section.activities-col article.activity figure{
        width: 100%;
        height: calc(100% - 55px);
    }
    aside.activities section.activities-content section.activities-col article.activity figure img{

    }
    aside.activities section.activities-content section.activities-col article.activity figure figcaption{

    }




}






