@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


body{
    font-family: 'Raleway', sans-serif;
    color : #000;
    font-size: 1rem;
}

h1, h2, h3{
    font-weight: bold;
}

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 1.6rem;
}

h3{
    font-size: 1.4rem;
}

